[2018-12-07 07:58] romain-fontugne opened #1 "display hegemony change"
When clicking on dependent networks show the increase/decrease of hegemony value compared to previous timebin. That would help to identify which networks appear/disappear from the hegemony cone.

[2018-12-10 05:29] romain-fontugne opened #2 "links in the table should point to the corresponding ASN page"
- [x] Link should point to the ASN page
- [ ] The dates should be passed as argument so one can view the same period of time in the other page

[2018-12-10 05:54] romain-fontugne opened #3 "Table: load more than 1k entries"
We see only the first 1k entries in the table. We need to go through pages to get all ASNs values

[2018-12-17 06:30] romain-fontugne opened #4 "get rid of bootstrap"
bootstrap is only required to render nice tables (vue-tables2).

[2018-12-25 02:43] romain-fontugne opened #5 "Correct message when no dependency"
There is two possibilities for a network with no AS dependency:
- the network is super distributed and really has no dependency (e.g. Google)
- the network announce no IP space

distinguish both cases using results from the global graph, and print corresponding messages

[2019-02-08 02:00] romain-fontugne commented on #2
now links point to the corresponding ASN

[2019-02-08 02:43] romain-fontugne opened #6 "Add calendar button"
let user choose a different date

[2019-02-13 09:19] romain-fontugne opened #7 "missing points in plots for delays are not properly handled"
see: http://localhost:8080/7922/asn/?af=4&date=2018-05-30&last=7

[2019-02-14 02:32] romain-fontugne opened #8 "Fix tracemon in NetworkReport"
Tracemon is currently not working for Forwarding anomalies

[2019-02-14 02:56] romain-fontugne opened #9 "popup for IP names"
Make reported links clickable and show a popup with the corresponding DNS name

[2019-02-23 03:26] romain-fontugne opened #10 "AS dependency: add the number of hops for dependent network"
We want to know how far are dependencies, the list of ASN could be sorted by the number of hops

[2019-03-08 05:18] romain-fontugne opened #11 "AS-dependency of countries"
Merge AS dependency for ASes in the same country.
Like it was done at the apricot hackathon: https://github.com/munhyunsu/APRICOT19

[2019-08-06 06:08] Federico-Mulas opened #12 "recaptcha website registration"
https://www.google.com/recaptcha/admin/create

[2019-08-06 06:10] Federico-Mulas opened #13 "new smtp account"
I suggest at least 2 accounts:
* noreply
* admin

[2019-08-07 07:11] romain-fontugne commented on #12
done!

[2019-08-07 07:11] #12 closed

[2020-02-12 07:20] #6 closed

[2020-02-13 06:27] romain-fontugne opened #14 "Main graph for global report"
All alarms can be summarized in a single graph, maybe a sunburst or treemap (https://plot.ly/javascript/sunburst-charts/ https://plot.ly/javascript/treemaps/)

The granularity could go from AS/location -> alarm types -> alarms
On selection the below tables could show only the alarms for the selected AS/location

[2020-02-14 10:12] romain-fontugne opened #15 "BGPlay breaks search fields"
How to reproduce:
- click on AS dependency graph, then AS graph to show BGPlay widget
- try to go to another network report by typing an AS number in the top search field

Error message:
QMenu.js?4e73:161 Uncaught TypeError: Failed to execute 'dispatchEvent' on 'EventTarget': parameter 1 is not of type 'Event'.
    at eval (QMenu.js?4e73:161)
eval @ QMenu.js?4e73:161
setTimeout (async)
__show @ QM

[2020-03-11 02:23] romain-fontugne commented on #4
new version is using quasar

[2020-03-11 02:23] #4 closed

[2020-03-11 02:24] #1 closed

[2020-03-11 02:26] #2 closed

[2020-03-11 02:27] romain-fontugne opened #16 "Global report links and dates"
The global report links just go the corresponding network but the report date is not passed. Thus links for a past global report are not showing the right date.

[2020-03-11 02:28] #3 closed

[2020-03-11 02:29] romain-fontugne commented on #8
looks like tracemon is broken, ips show in a random order. This would require to fix tracemon first

[2020-03-11 02:30] #9 closed

[2020-03-23 07:03] romain-fontugne commented on #15
For now bgplay is displayed in an iframe. This is quite ugly, but it fixes the problem

[2020-03-23 07:03] #15 closed

[2020-03-23 07:10] romain-fontugne opened #17 "Country report"
Add country reports, including:

- [ ] AS Hegemony (#11)

[2020-03-23 07:14] romain-fontugne opened #18 "Probe report"
Add probe report, including:
- [ ] Network delays
- [ ] Tag (noisy or not)

[2020-03-23 07:17] romain-fontugne opened #19 "Add annotations on hegemony graphs"
add colored overlays to show missing data and low visibility.
Also make the graph to 0 if a dependency disappear.

[2020-03-30 15:20] romain-fontugne opened #21 "Add IHR logo on all graphs"
Add logo and mention IHR on all graphs so that people knows where screenshots come from.

[2020-04-02 12:49] swapneelp opened #22 "Unable to add destination under Network delay"
Thank you for building this. There is a lot of interesting data and patterns.

I am trying to add a destination network AS24186 under Network delay and have been unable to add it. I am guessing it does a traceroute return path using atlas like,

`ripe-atlas measure traceroute --from-asn 16509 --target "IPADDRESS"`

where IP address is from one the of prefixes of AS24186, please correct me if I am

[2020-04-03 05:25] romain-fontugne commented on #22
Hi,

I think we don't have network delay results to AS24186 because it doesn't appear in the traceroutes we analyze, we are not analyzing all Atlas traceroutes.
Because there is too much data in Atlas for us to analyze, we compute network delays only from 'long lasting' measurements. That includes built-in measurements and anchoring measurements. So the best way to have AS24186 appear in our resul

[2020-04-03 14:32] swapneelp commented on #22
@romain-fontugne Thank you for the detailed response. It's now clear to me how this works.

It's really weird that the probe isn't doing built-in measurements since 19-3-2020. This is a software probe and the only one showing this issue. I'll check. Thank you for pointing it out. 👍

[2020-04-04 00:18] #22 closed

[2020-04-08 02:11] romain-fontugne opened #23 "IX-Federation IDs instead of CAIDA IX IDs"
CAIDA IX file has redundant entries, two IDs could map to the same IX and LAN just named differently in peeringdb and pch data (e.g. INEX). Plus the IX community is mainly using peeringdb or IX federation IDs.

But currently I don't see an easy way to map an IP address to an IX federation ID. IXP DB is the best effort so far (https://ixpdb.euro-ix.net/en/ixpdb/ixps/) But seems to miss a lot of IP

[2021-03-10 11:02] sim-azan opened #24 "No Hegemony values for dates older than 2015"
Hi. I was wondering is this a limitation of the API that there are no AS hegemony values fetched for dates older than 2015.

[2021-03-10 12:06] sim-azan commented on #24
Thanks Romain. I wasn't aware of this. At the moment I use hegemonic values for the first week of every month post 2015 and average the values per ASN for consistency. Could you explain how the hegemony for the 15th of every month is calculated? Is it using timebin only for a single day? or is the average of values for the first 15 days ? Thanks

[2021-03-10 13:33] romain-fontugne commented on #24
Oh yes, there is results for every 15min timebins from 00:00 until 23:45 of the 15th of every months. You could average these values but it might not be as robust as what you have using an entire week. Maybe using median values could be good enough to filter out rapid changes.

[2021-03-10 13:37] sim-azan commented on #24
Thanks, but I think if I could find a way to get hegemony calues per originASN for the entire week every month for 2010 and after it would align well with my study. I was wondering how I could go about this. The new repo 'as-hegemony' or the older 'as-hash' ? For AS-hegemony repo I managed to run the kakfa and the produce_bgpdata.py to get data into my kafka cluster but I am clueless on how to pro

[2021-03-10 13:43] romain-fontugne commented on #24
Let me close this issue and reply on the as-hegemony repo. In case someone else has the same problem.

[2021-03-10 13:43] #24 closed

[2022-03-12 06:27] Aniket762 commented on #21
Hey, did you use any module to generate the graphs?

[2022-03-13 12:38] romain-fontugne commented on #21
We are using plotly. Most (all?) graphs are based on this component: https://github.com/InternetHealthReport/ihr-website/blob/master/src/components/ReactiveChart.vue

[2022-03-13 12:46] Aniket762 commented on #21
Thanks, sir for the reply, I will check if there is any way to pass the logo as a parameter! If so will raise the PR asap. Thanks for the help

[2022-03-14 00:38] romain-fontugne commented on #21
Great, thank you!

[2022-03-14 15:36] Aniket762 commented on #19
Hi @romain-fontugne sir, I am interested in taking up the issue. But, I am having a bit of a problem understanding the requirements.

As of now, I have understood you want me to add some sort of component to visualize data in a more structured way. Can you please provide an example or elaborate on the type of overlays you want me to add?

And by dependency disappearance do you mean npm modules as

[2022-03-14 17:05] Aniket762 commented on #17
@romain-fontugne Sir, can you help me with how to get the data?

As per my understanding, all I need to do is fetch the data from M-Lab integration or some way around it. Then develop a filter-based leaderboard system to showcase the data. Let me know if I am correct.

[2022-03-14 17:24] Aniket762 opened #26 "Proposal to add generic workflow"
With the popularity of IHR and its infamous reports, I personally believe an upsurge in the number of contributors and increasing functionality in the web application. I propose to add a contributor's workflow and dependant bot.

### Contributor's workflow
- Issue template: To generalize issue and parameters a contributor needs to add while creating an issue
- Bug Report: To generalize bug reporti

[2022-03-15 00:39] romain-fontugne commented on #21
Cool, thanks. I think we have to experiment a bit here, intuitively I was thinking of putting at the right upper corner. There is a bit of white space there and if possible I don't want the logo to interfere with the plotted data.

I'd prefer the IHR logo for the image: https://github.com/InternetHealthReport/ihr-website/blob/master/src/assets/imgs/ihr_logo.svg

[2022-03-15 01:07] romain-fontugne commented on #19
:)

Sorry that was more of a reminder for myself.

So there is two things here:
1) Missing data: Sometimes our backend has problems and we may not produce data. For example we don't have data for March 1st in the top graph here:  https://ihr.iijlab.net/ihr/en-us/networks/AS2497?af=4&last=3&date=2022-03-02&rov_tb=routes
Currently plotly draws a long line to fill this gap but we'd like to show that

[2022-03-15 01:10] romain-fontugne commented on #26
Excellent, yes we definitely need all of that!

[2022-03-15 13:59] Aniket762 commented on #19
Yes, I would take upon this issue and will try to work on it accordingly. In case there is any doubt would revert back to you asap. Please assign this issue to me

[2022-03-15 14:10] Aniket762 opened #28 "Proposal to add contributing guidelines"
Contributing guidelines would provide potential project contributors with a short guide to how they can contribute to the particular application. It would help contributors understand how to open a PR or raise issues. Adding Contributing guidelines would help maintainers and contributors work in symphony and with ease. Ultimately, increase the productivity of both the stakeholders.

I am creating

[2022-03-15 14:59] Aniket762 opened #30 "Proposal to setup Prettier as code formatter"
Currently, this codebase is not using any code formatting tool and linting but people tend to use separate tools for these two jobs i.e. ES Lint for code listing & managing errors & Prettier for code formatting.

## Solution
[Prettier](https://prettier.io/) is a tool that automatically makes your code more readable and consistent with your project's style guide. It integrates with your editor, so

[2022-03-15 15:51] Aniket762 opened #33 "Proposal to add PWA with offline support"
A progressive web application is a type of application software delivered through the web, built using common web technologies including HTML, CSS, and JavaScript. It is intended to work on any platform that uses a standards-compliant browser, including both desktop and mobile devices. Progressive Web Apps (PWAs) allow developers to deliver an app-like experience to the user.

I would like to work

[2022-03-15 15:54] Aniket762 opened #34 "Ranking up the site on Google with meta tags"
I propose to optimize the site with respect to SEO. Currently, in my setup IHR ranks at 3. Bringing it to the top would be my approach. I would love to work on this issue, I am creating a PR rn, @romain-fontugne sir, in case you don't want the particular feature rn feel free to close the issue and PR.

Cheers
Aniket

[2022-03-16 00:31] #26 closed

[2022-03-16 00:48] romain-fontugne commented on #28
Thanks, I have spotted two typos there otherwise it is ready for merge. Thanks for your help!

[2022-03-16 01:36] #30 closed

[2022-03-16 02:24] romain-fontugne commented on #30
Thanks!

[2022-03-16 09:35] Aniket762 commented on #19
Hey @romain-fontugne,

I was trying to work on this issue. but testing on localhost didn't fetch API calls due to Cross Origin policy. It would be difficult for me to test things and add functionality without seeing any changes on localhost.

I was trying to test this url https://localhost:8081/ihr/en-us/networks/AS2497?af=4&last=3&date=2022-03-02&rov_tb=routes replacing ihr.iijlab.net with localh

[2022-03-16 10:38] romain-fontugne commented on #19
I recently had the same problem, I'm really not sure why this is happening. I don't think I had this problem before. And it is very confusing, for some links it is working for me... I'll take a look at it

[2022-03-16 14:55] Aniket762 commented on #18
@romain-fontugne sir, can you please elaborate on this issue a bit?

[2022-03-16 15:00] Aniket762 commented on #14
@romain-fontugne sir, I believe I can take upon this issue. Can you please help me where to get the data from? And what should be my labeling for the graph data?

What is Alarms I am not able to get a clear picture, any reference to read from?

[2022-03-16 15:04] Aniket762 commented on #33
Sir, I am currently working on it. So basically what I need to do is add service-worker and manifest, I am trying to do, but getting some bugs hopefully will send the PR soon 😢

I don't think any substantial change in code is required, as I was thinking of using the user's cache memory to store most of the data and hence increasing UX and making our servers work better. So, it would benefit both t

[2022-03-16 15:50] romain-fontugne commented on #17
This is an old issue, I will open a new issue for the M-Lab integration.

[2022-03-16 16:44] Aniket762 commented on #19
Thanks a lot sir

[2022-03-17 00:17] #28 closed

[2022-03-17 00:21] #34 closed

[2022-03-17 00:39] #21 closed

[2022-03-17 00:41] romain-fontugne commented on #33
OK, thanks. Let me know if I can help

[2022-03-17 02:55] romain-fontugne commented on #5
This issue is related to the views/charts/AsInterdependenciesChart.vue component. The graph may be empty if we measured no network dependency (e.g. https://ihr.iijlab.net/ihr/en-us/networks/AS15169?af=4&last=3&date=2019-03-15&rov_tb=routes) in this case we want to show a message "No network dependency".
But sometimes the graph is empty because we have no data for the selected network (e.g. https:/

[2022-03-17 03:05] romain-fontugne commented on #14
Actually this one requires that I restart the alarm system on our backend. It is currently not working, I have some stuff to fix there.

But you can see past alarms, for example here: https://ihr.iijlab.net/ihr/en-us/global_report?filter_level=1&last=3&date=2020-03-01
We want to make a visual representation of the data shown in all these tables. This requires some experimentation, we are not sure

[2022-03-17 05:24] akib22 opened #46 "Inconsistent Eslint and Prettier rules"
Eslint and Prettier rules were added for the project but it is not consistent. Everyone has their own preferences(single/double quote, 2/4 space). If we don't force them to follow the same rule then the code style will be inconsistent. Also, `.editorconfig` rules and code styles are not the same. `.editorconfig` indent_size is 4 but in codes follows 2.

On my computer, I am getting lots of warning

[2022-03-17 06:03] romain-fontugne commented on #46
Yes, that's a mess, sorry!
Thanks for working on that.

[2022-03-17 06:08] Aniket762 commented on #46
Thanks for pointing out @akib22, sorry from my end as I didn't check on the consistency while adding the file.

PS. Tomar kichu lagle janiyo :)

[2022-03-17 06:29] Aniket762 opened #47 "Proposal to make the web UI responsive"
Currently, the website breaks in mobile view and there are accessibility issues with the change of device size. As discussed with @romain-fontugne sir, regarding the UI change I was talking about, I would work on the responsive after that is discussed properly and we arrive at a conclusion.

It would be great if @romain-fontugne sir can assign this issue to me and I can plan on the UI revamp or fi

[2022-03-17 06:44] Aniket762 opened #48 "Proposal to automate greetings"
First-time contributors trying to create their first issue or send their first PR, it would be great if they can be greeted. Greeting everyone manually is impossible when running a big project. I propose to add a bot that greets contributors.

It would encourage first-time contributors to get started with contributing. It adds a professional and welcoming look into the repository and would encoura

[2022-03-17 07:04] akib22 commented on #46
Welcome both of you @romain-fontugne and @Aniket762.

Ami obbossoy janabo tomake :) @Aniket762 do you know Bengali?

[2022-03-17 07:05] Aniket762 opened #50 "Proposal to add Code QL analysis workflow for production"
Secure code is important. Writing secure code is hard. As developers, we all know this. Developers often use the [OWASP TOP 10](https://owasp.org/www-project-top-ten/), a list of the 10 most critical security risks that you should think about when writing software. But of course, there are more than 10 security risks in the world. Keeping up with everything that’s happening in the world of securit

[2022-03-17 07:11] Aniket762 commented on #46
@akib22 Yups, ami bangali, abhi durgapur, west bengal, India te thaki 🙈

[2022-03-17 07:53] akib22 commented on #46
Great to hear that you are Bangali.

Great to hear that you are Bangali.

[2022-03-17 08:03] akib22 commented on #46
In eslint, **"Component name "Networks" should always be multi-word"** giving this error. For details about this rule [vue/multi-word-component-names](https://eslint.vuejs.org/rules/multi-word-component-names.html).

![screenshot](https://i.ibb.co/6ZjJ5w0/Screen-Shot-2022-03-17-at-1-54-29-PM.png)

@romain-fontugne any suggestion about this error, what should I follow?

[2022-03-17 08:54] Aniket762 opened #52 "Hyperlinking organisations branding"
In the special thanks section, I guess it would be good if we can hyperlink the branding logos with links to the corresponding websites.

<img width="1281" alt="Screenshot 2022-03-17 at 2 20 42 PM" src="https://user-images.githubusercontent.com/67703407/158772319-fcf12676-6706-4b92-bd22-5b5e7c47ae03.png">

@romain-fontugne sir, let me know if you want me to add this or there are some reasons due t

[2022-03-18 03:05] romain-fontugne commented on #46
Yes, I have seen this for several of our components. Maybe now is a good time to rename all components that have this error.
I don't have a strong opinion about how to fix this and I am not sure about what are the best practices.

One possibility is to rename things like this:
Api: ApiView
Contact: ContactView
Corona: CoronaReport
Countries: CountryReport
Documentation: DocumentationView
Footer: A

[2022-03-18 03:25] #48 closed

[2022-03-18 03:27] #50 closed

[2022-03-18 03:33] romain-fontugne commented on #52
I'd prefer to link these logos to the acknowledgment section of the documentation (https://ihr.iijlab.net/ihr/en-us/documentation#Acknowledgements). So the user can read about the relation between IHR and these organizations (and there is hyperlinks to each organization in the ack section).

does it make sense?

[2022-03-18 06:12] Aniket762 commented on #52
@romain-fontugne sir, you are right, it looks better that way, and as it is already done I am closing this issue!

[2022-03-18 06:12] #52 closed

[2022-03-18 19:41] akib22 commented on #46
Thank you, I am going with your suggestions.

Inside `src/components/ripe/` directory, `initTracemon`, `ripestat`, and `initLatencymon` functions are uesed. I can't find any defination for those function. I think those are errors. Can you please clarify @romain-fontugne? Also please suggest name for those components.

![code screenshot](https://i.ibb.co/p2SWkgn/Screen-Shot-2022-03-19-at-1-19-43-AM

[2022-03-20 08:34] Aniket762 opened #55 "Highlight current section in documentation"
Currently, I am reading the AS dependency section in the document but it doesn't highlight the link in the left section. I propose to add a link in the left half so that readers understand what are they reading currently.
<img width="1440" alt="Screenshot 2022-03-20 at 1 56 41 PM" src="https://user-images.githubusercontent.com/67703407/159154277-bacda8a8-cf32-4edd-8d74-8f6441dfcdb9.png">

@romain-

[2022-03-20 12:56] akib22 opened #56 "Home page banner click should not redirect to "Global report" page."
On the home page, click on the banner it will redirect to **Global report page**.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the **Home page**.
2. Click on the banner

**Expected behavior**
Should not redirect to **Global Report page** when clicking on the banner.

@romain-fontugne, I am working on this issue and soon raise a pull request.

[2022-03-22 04:52] romain-fontugne commented on #46
All these functions are defined in libraries that are loaded when needed. For example, initLatencymon is defined here  "https://atlas.ripe.net/resource/latencymon/latencymon-widget-main.js". See src/main.js.
I guess we can just ignore these errors.

Let's rename them like this:
BgplayWidget
LatencymonWidget
TracemonWidget

Thanks!

[2022-03-22 06:48] romain-fontugne commented on #55
Yes, that would be great

[2022-03-26 08:08] akib22 commented on #46
Thank you for your clarifications. I ignored those errors and updated those component names. As well as open the #54 for review.

[2022-03-26 14:44] romain-fontugne opened #68 "Add documentation for ROV"
**Describe the bug**
There is no documentation for the Route Origin Validation report  and corresponding widget in network report.

**Expected behavior**
We should have a section in the documentation that explain what ROV/RPKI/IRR/bogons are, and the data sources used to compute displayed data.

[2022-03-28 05:20] romain-fontugne commented on #46
Thanks, the code looks a lot better. I merged the pull request, there was two 'test' text in GlobalReport I have removed them otherwise it looked good.

But I don't see the components renaming? have pushed your latest changes?

[2022-03-28 08:16] Aniket762 commented on #68
Hi sir, I want to take up this issue but I am a bit tangy with the terminologies, before I write about the application, I wanna make sure I am on right track. Can you please give me some resources to look into?

[2022-03-29 08:01] romain-fontugne commented on #68
This one is a bit tricky, but I think most of the content is in my MANRS blog article:
https://www.manrs.org/2021/11/the-routing-game-hunting-invalid-routes/

[2022-03-29 08:07] romain-fontugne opened #74 "BGPlay is stuck"
**Describe the bug**
We used to have a working version on BGPlay on IHR website. Somehow this is not working anymore.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ihr.iijlab.net/ihr/en-us/networks/AS2497
2. Click on the AS dependency graph
3. Scroll down to the table below the graph and click on 'AS GRAPH'
4. The message 'Reconstructing the history.' is shown indefinitely a

[2022-03-29 08:16] romain-fontugne opened #75 "Wrong 'Direct Neighbour' initial status"
**Describe the bug**
A click on the AS dependency graph shows a detailed table that include a column called 'Direct Neighbour'. These values are wrong if we click too quickly on the graph (e.g. when the page is still loading). The data for this column is fetch by an API call to RIPE stat, if the API call is not complete then all direct neighbor values are displayed as 'x'.

**To Reproduce**
Steps

[2022-03-29 08:18] #11 closed

[2022-04-02 04:58] akib22 commented on #46
Sorry for the late response.
Actually, I add the component name inside the script tag instead of renaming the filename. Because If I rename the filenames, then there will have a chance to remove others' latest changes.

[2022-04-03 06:26] sahshank01 opened #76 "Selected Dropdown value is not getting populated"
**Describe the bug**
On the COVID19 report page, after selecting a country from the dropdown, the dropdown is not getting populated with the selected country.

**To Reproduce**

1. Go to 'https://ihr.iijlab.net/ihr/en-us/covid19'.
2. Click on the 'Select a Country' Dropdown and select any country.

**Expected behavior**
When we select any country from the dropdown, it should get populated with the

[2022-04-03 06:32] sahshank01 commented on #76
Hi @romain-fontugne, please assign it to me, I am working on it.

[2022-04-03 06:53] romain-fontugne commented on #76
thanks! I think I broke this in the latest version

[2022-04-03 06:54] romain-fontugne commented on #46
OK, I see. thanks!

[2022-04-03 06:54] #46 closed

[2022-04-03 19:03] akib22 opened #78 "Prevent to commit code with lint warnings and errors"
**Problem**
I found that lots of time when we are working on a project, we tend to forget to fix linting warnings and errors. This mistake makes our coding style inconsistent. Also, finding and fixing lint errors manually is very tedious. If we make the process automatic there is no chance to make the mistake.

**Solution**
Using the git `pre-commit` hook, I want to run the `lint` command to preve

[2022-04-04 00:24] romain-fontugne commented on #78
Thanks, yes, I think we need to enforce it.

[2022-04-04 00:29] #76 closed

[2022-04-04 05:11] shashanksah143 opened #79 "Network Delay 'accordion' is not getting collapsed"
**Describe the bug**
In country report page, the 'network delay' accordion is not getting collapsed after clicking on the collapsed button. It is getting collapsed for a few milliseconds and then bounces back to its open state.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '(https://ihr.iijlab.net/ihr/en-us/countries)'
2. Select any country.
3. Scroll down to the 'Network Delay' acc

[2022-04-04 05:13] shashanksah143 commented on #79
@romain-fontugne sir, please assign it to me, I am working on this issue.

[2022-04-04 05:18] romain-fontugne commented on #79
I cannot reprooduce that problem. It works for me on Linux/Brave

[2022-04-04 05:45] shashanksah143 commented on #79
@romain-fontugne, I am able to replicate the same issue on
OS: Ubuntu 20.04.4 LTS
Browser: Mozilla Firefox 98.0.2

Wait for graphs to load the data completely (when the graphs are loading, the accordions are working fine), and then try to collapse the 'network delay' accordion.

In my previous setup, the data for the country which I selected got cached, I think because of that I was able to replic

[2022-04-04 15:16] Akshaykoushik06 commented on #75
@romain-fontugne I tried to reproduce the issue. After clicking on a line of the top graph, sometimes it takes a lot of time for the data to load in the table below. Sometimes it loads quicker. Am I not reproducing the issue correctly?

[2022-04-05 05:10] shashanksah143 opened #82 "Network delay graph showing negative values for median RTT in some countries"
**Describe the bug**
For some countries, the median RTT values shown in the network delay graphs are in negative.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ihr.iijlab.net/ihr/en-us/countries/
2. Select the country as 'Netherlands'.
3. Scroll down to the 'Network delay' accordion.
4. Hover on the graph to see the median RTT values from AS33915 to Google (AS15169), for som

[2022-04-05 05:16] shashanksah143 commented on #82
@romain-fontugne, I would like to work on this issue.

[2022-04-05 05:48] romain-fontugne commented on #82
Thanks. Yes, let's show absolute values. I hope that will make it less confusing.

[2022-04-05 13:05] #82 closed

[2022-04-07 01:39] romain-fontugne commented on #19
@Aniket762 I just found out this weird case where there is data but we are putting the 'no data' label on top of it:
https://ihr.iijlab.net/ihr/en-us/networks/AS270903?af=4&last=3&date=2022-04-06&rov_tb=routes

I think the problem is that one of he timeseries stopped. To check the data availability we can use the timeseries where "originasn"=="asn" (we are not plotting this one)

[2022-04-07 06:50] Aniket762 commented on #19
I would check on that and try to resolve it as soon as possible from my end! Sorry, I missed the corner case

[2022-04-11 13:57] Aniket762 commented on #19
So, actually, some AS are having values whereas some are not. For a small interval, I don't think making the missing data points to zero would be good so I am planning to remove the grey box with the label no data available. In the 2 cases you have mentioned above, I made the data points zero for graphs that don't have data after a certain period. But, this case was missed out, if you want me to m

[2022-04-14 05:47] Aniket762 commented on #56
Closing the issue as  it was resolved via #57

[2022-04-14 05:47] #56 closed

[2022-04-14 05:49] Aniket762 commented on #79
Hey, what's the current status on this? If you can still find the error can you please attach a screenshot?

[2022-04-14 14:31] shashanksah143 commented on #79
@Aniket762 Currently I am busy with some other work, If you want you can take this issue.
Are you able to replicate the issue?
Attaching a screenshot will not be helpful, as this bug is occurring on mouse click event.

[2022-04-14 14:59] shashanksah143 commented on #79
Please find the attached video link below of the bug.
https://drive.google.com/file/d/1Jv42GlasS8bXYRpc_3CeQGGsIbmHPgN2/view?usp=sharing

[2022-04-14 15:55] Aniket762 commented on #79
Thanks a lot, @shashanksah143 for attaching the video. I would keep this issue open and whenever you get some time you can help us get it fixed.

[2022-04-18 04:27] romain-fontugne commented on #19
I see. It means that in this case we have data but that AS has values equal to 0 (which are not reported by IHR API). So I think we should remove the gey box and also add zero values for ASes that have no value

[2022-04-18 13:28] Aniket762 commented on #19
Yes, that's what I did :)

[2022-04-19 12:41] Aniket762 opened #118 "Implement 404 Page"
**Is your feature request related to a problem? Please describe.**
Whenever a user requests an URL that is not routed in our application a white page turns up.

**Describe the solution you'd like**
Building a custom 404 page which routes back to our home page after a time-lapse of 5 seconds. It should also have a button to navigate to the home page for an instant move route to the home page.

**Ad

[2022-04-19 12:55] femitosin commented on #118
Will there be design for the 404 page ? If yes, how will i get access to the design?

[2022-04-19 13:26] Aniket762 commented on #33
Hello developers, the labels for this issue have been changed and no one has been assigned as of now. `first-timers-only` label promotes first-timer contributors and gives them space to contribute to projects having large codebases. This being a particularly simple issue to resolve would give them a headstart in open source.

If you are someone who wants to get started in open source or want to co

[2022-04-19 15:09] aryan-surin commented on #118
Hey @Aniket762 can I contribute to this issue?

[2022-04-19 18:47] Aniket762 commented on #118
For sure, do you want me to assign this issue to you? By the way, is there any particular UI that you have thought about?

[2022-04-20 07:47] thisiskaransgit commented on #118
I'll work on this issue
and since you gave the additional context for the UI , I will be making it while keeping the context in mind

[2022-04-20 09:27] Aniket762 commented on #118
Okay, that sounds great :) since we haven't heard back from @aryan-surin as of now. Let's wait for a day, if he doesn't get back I would assign you and you can start working. Till then you may check out #33, a pretty beginner-friendly issue. Let me know your thoughts :)

[2022-04-23 18:44] Aniket762 commented on #118
Hi, do you still want to work on this?

[2022-04-24 04:21] thisiskaransgit commented on #118
Yes , I'll work on this

[2022-04-24 06:00] Aniket762 commented on #118
Hi @thisiskaransgit, take your time and share a basic wireframe you want to develop, and once we have concluded the layout you can code. In case, you don't want to design you can implement the skeleton which I have given while creating the issue. Let me know, which way you are going? :)

[2022-04-24 07:36] thisiskaransgit commented on #118
![1](https://user-images.githubusercontent.com/92504666/164965311-aa2ed5f8-fc2f-49a8-a3e6-48d9a242e55b.PNG)
This is the design that I came up with ,  If you like it then I can start working on the coding part, or if you have some more suggestion to add to it ,or the design is not up to the mark ,let me know.🤝

[2022-04-24 08:29] Aniket762 commented on #118
Your design looks great, specially with the button part. But, I would say for now, go with the skeleton I have provided then we can make changes accordingly. You button looks good, so keep it that way round in the skeleton.

![image](https://user-images.githubusercontent.com/67703407/164967443-7a0264f4-7c5c-44c3-8bad-7efe8a0656b5.png)

Make sure to keep it responsive in Desktop, mobile and tab vie

[2022-04-25 18:55] thisiskaransgit commented on #118
I am done with coding part and the page is ready and looks just the same as we discussed
![404](https://user-images.githubusercontent.com/92504666/165154295-823368b3-a3c2-43f1-9c43-5294301ad641.png)
It's responsive in Desktop, mobile and tab view.

But I was unable to run it in my local host as  I was repeatedly getting the following error
![Screenshot 2022-04-25 230023](https://user-images.github

[2022-04-26 13:38] Aniket762 commented on #118
Hey @thisiskaransgit, thanks a lot for coding the wireframe, it looks great to me ✨

I am extremely sorry to know that, you were not able to run the code on your localhost. After reading your error I immediately did a dry run on my system, and it ran without any error. There are some things that you can try out to fix this error:
1. Install the LTS versions of Vue-CLI and Node
2. Try removing the

[2022-04-28 18:52] thisiskaransgit commented on #118
Hey @Aniket762
I have successfully tested it locally with several URL and it's working just as we wanted
 1. Whenever the user requests a invalid URL our custom 404 page appears
 2. redirect button takes us to the home page
 3.  The design is same as we discussed

The only issue is that the page is not getting responsive for mobile and tablet view as it's not taking effect on a single page
and was

[2022-04-29 08:18] #78 closed

[2022-04-29 08:21] #19 closed

[2022-05-12 05:03] romain-fontugne opened #124 "Error message for unknown resources"
**Is your feature request related to a problem? Please describe.**
When opening a report for a resource that does not exists, the page just show the loading message.

**Describe the solution you'd like**
It would be nice to have a default message saying that the queried network/AS doesn't exists

**Additional context**
An example is available here: [https://ihr.iijlab.net/ihr/en-us/networks/AS7459

[2022-05-12 09:06] yihu55 commented on #124
fetch('https://api.github.com/users/hadley/orgs') //make the api unaccessble, the error message will appear
    .then(response=>{
           if(!response.ok){
                const div=document.createElement('div')
                const h1=document.createElement('h2')
                document.body.appendChild(div)
                div.appendChild(h1)
                h1.appendChild(document.createTe

[2022-05-12 10:37] romain-fontugne commented on #124
Please send a Pull Request if you want to fix this issue, thanks!

[2022-05-12 10:52] yihu55 commented on #124
sorry I am absolutly newbie to open source, i will check out how things works!

[2022-05-15 07:49] Abhay2342 commented on #124
I can fix this issue for you.

[2022-05-16 01:37] romain-fontugne commented on #124
@yihu55 are you planning to work on this issue? if not I'll assign it to @Abhay2342

[2022-05-16 06:20] yihu55 commented on #124
sorry, please assign it to @Abhay2342.

[2022-05-16 06:40] romain-fontugne commented on #124
OK thanks!

[2022-05-16 15:45] Abhay2342 commented on #124
In my local server, everything is working fine now. Please review my pull request.

![Capture](https://user-images.githubusercontent.com/73768090/168632248-0f625c04-3d94-46b3-8209-aed2ce1bf6e2.PNG)

[2022-05-17 12:34] emileaben opened #126 "UI improvements for AS-hegemony graphs"
**Is your feature request related to a problem? Please describe.**
I often use IHR as-hegemony on slides. Some use-cases can be better:

** showing when a network disappears (ex. RIPE84 slide deck for Mariupol network)
In the graph show the timeline also for when there is no data (ie. if the query says 7 days before 2022-04-07 and there is no data 2022-04-02 and after, in that case still show the

[2022-05-17 12:35] emileaben commented on #126
ah, and
** use a step graph so it's clear when a dependency disappears (not a line graph)

[2022-05-17 12:46] Aniket762 commented on #124
Keeping this issue open for a while, in case @romain-fontugne needs some changes.

[2022-05-17 13:50] Aniket762 commented on #126
Hey @emileaben, I have added some tags such that it will become easier for external contributors to find this issue. Hope you are okay with this

Cheers!

[2022-05-19 10:24] Abhay2342 commented on #124
If everything is fine then please close this issue.

[2022-05-20 08:32] Aniket762 commented on #124
Thanks for your contribution 💖

 I am closing the issue as of now

[2022-05-20 08:32] #124 closed

[2022-05-24 06:36] thisiskaransgit commented on #55
Can I work on this issue ?

[2022-05-24 08:52] #118 closed

[2022-05-24 08:59] thisiskaransgit commented on #118
Thanks @Aniket762  for the approval , It's really for me exciting as it's my first Successful PR. I would like to continue to contribute to this project more as it's in my field of interest  , so can you guide and share some resources me which can help me to get to know more about this project.
Thank You

[2022-05-24 09:17] Aniket762 commented on #118
Thanks, @thisiskaransgit for your kind words. You can join our slack which we are opening up for contributors. Please click![here]( https://join.slack.com/t/internethealthreport/shared_invite/zt-19d4e48py-~oirVwkINe01gTVEF3o4Kw) to join the slack.

Although, I reverted back the PR, I guess it broke the prod. I would check it and merge it again. In the meantime, you join slack get onboarded and let

[2022-05-26 18:36] thisiskaransgit commented on #55
hey @Aniket762  can I work on this issue ?

[2022-05-27 05:44] Aniket762 commented on #55
Sure thing @thisiskaransgit assigning this to you right away :)

[2022-05-29 10:41] thisiskaransgit commented on #55
Hey @Aniket762 , I have solved the issue, kindly check the following screenshots.

1.  **Selected Acknowledgments Section**
![Screenshot from 2022-05-29 15-27-00](https://user-images.githubusercontent.com/92504666/170863653-5750ae43-e2fa-42d4-9133-fda975dd5ec0.png)

2. **Selected Country Report Section**
![Screenshot from 2022-05-29 15-26-52](https://user-images.githubusercontent.com/92504666/1708

[2022-05-29 11:30] Aniket762 commented on #55
Hey, @thisiskaransgit great work. The highlight looks great and suffices the need. Can you change the style of highlighting a bit? A red underline is enough and would increase the UI/UX for sure.

[2022-05-29 12:46] thisiskaransgit commented on #55
Hey @Aniket762 , Does this looks good ?
1.
![Screenshot from 2022-05-29 18-13-54](https://user-images.githubusercontent.com/92504666/170869156-e1109aa9-9457-4d43-8be2-0d5eabe6e799.png)
2.
![Screenshot from 2022-05-29 18-12-43](https://user-images.githubusercontent.com/92504666/170869184-d59843e7-cf4e-4193-843a-eef5752c730d.png)

[2022-05-29 13:35] Aniket762 commented on #55
Yes absolutely

[2022-05-30 07:23] Aniket762 commented on #55
Closing this issue as of now, if some bug occurs will reopen :)

[2022-05-30 07:23] #55 closed

[2022-05-31 15:41] thisiskaransgit commented on #33
Hey @Aniket762 , I would like to work on it

[2022-05-31 16:53] Aniket762 commented on #33
Sure go for it

[2022-06-04 11:16] #33 closed

[2022-06-22 14:30] #79 closed, assigned to shashanksah143

[2022-06-23 01:39] #68 closed, assigned to nobody

[2022-06-23 04:24] m-appel opened #146 "Missing error handling for dynamic page links"
**Describe the bug**
Links to pages that use [Vue Router's Params](https://router.vuejs.org/guide/essentials/dynamic-matching.html) (currently the country and network reports) do not show a proper error page or message when called with invalid params.

**To Reproduce**
For country reports:

1. Go to https://ihr.iijlab.net/ihr/en-us/countries/HELLOTHERE
2. See an empty report page.

For network rep

[2022-06-23 04:41] m-appel opened #147 "Problematic parsing of AS number in network report"
**Describe the bug**
The regular expression used to extract the AS or IXP number from strings will accept an arbitrary prefix as long as the string ends with a number. This can lead to confusion, especially if an IXP link is mistyped.

**To Reproduce**
1. Go to https://ihr.iijlab.net/ihr/en-us/networks/IX208
2. The result is actually for AS208, instead of IX**P**208 (DE-CIX) since the `P` is missi

[2022-07-14 02:32] digizeph opened #162 "Page refresh changes date back by one day"
**Describe the bug**
When looking at graph for a ASN with a time specified, the time automatically turns back by one day.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ihr.iijlab.net/ihr/en-us/networks/AS63346?rov_tb=routes&af=4&last=3&date=2022-07-09'
2. Refresh the page
3. The date goes back by one day.

**Expected behavior**
The date filter should not change on refresh.

[2022-08-29 14:00] Aniket762 opened #177 "Add Download Report Button"
**Is your feature request related to a problem? Please describe.**
If our end-users want to see a file for future reference, it would be difficult for them to refer to.

**Describe the solution you'd like**
Adding a download button on every page which generates customizable reports will make the task easier for the end users to keep a track of the reports they are working for.

**Describe alternat

[2022-08-29 14:03] thisiskaransgit commented on #177
I would like to work on this issue!

[2022-09-13 18:26] thisiskaransgit commented on #177
Hey @Aniket762 kindly, review the PR 😀

[2022-10-15 19:06] priyansh71 commented on #162
I don't think this issue exists anymore. Can you check again?

[2022-11-01 17:43] cool-man-vk opened #195 "Vue package version mismatch"

[2022-11-05 12:40] sumana2001 commented on #195
Yes, I am also facing the same error. When I am trying to run the application on localhost it shows me Vue mismatch due to which the application is not running.

[code]

How do I solve this?

[2022-11-05 14:30] thisiskaransgit commented on #195
Hey @cool-man-vk @sumana2001
I faced the same issue, Stack overflow wasn't enough

The following steps worked for me
1. remove the existing node_modules folder if you have created it
2. go to `Package.json`
3. Remove the caret sign(^), from the `vue` and `vue-template-compiler` versions
   "vue": "`^`2.6.11"   =>  "vue": "2.6.11"
    "vue-template-compiler": "`^`2.6.11" =>     "vue-template-compil

[2022-11-05 21:09] Aniket762 commented on #195
Hey @thisiskaransgit, thanks for mentioning and answering the queries. It is surely of great help to users.

@sumana2001 @cool-man-vk please let us know if this particular approach solves your concern. Looking forward to a positive response.

[2022-11-06 03:51] sumana2001 commented on #195
It worked! Thank you so much😊

[2022-11-06 06:14] Aniket762 commented on #195
Thanks a lot @sumana2001 for the feedback.

@thisiskaransgit do you want to raise a PR with the fix? Incase you are busy, I would directly commit to the master. Thanks a lot for you help mate 💪

[2022-11-06 06:49] cool-man-vk commented on #195
Thanks a lot guys! It worked for me

[2022-11-06 07:15] cool-man-vk opened #207 "Font size and box height can be modified for each screen width"
For each screen width, the heights and font-sizes can be mentioned in a css file to be more responsive, if possible I can do this!

[2022-11-06 09:00] thisiskaransgit commented on #195
hey @Aniket762, I have fixed the issue in the PR #186, sorry for not mentioning it before,I overlooked it,  If you want I'll create a fresh PR with the bug fix

[2022-11-06 09:23] Aniket762 commented on #195
A new PR would be great. Can you please do it

[2022-11-06 09:24] Aniket762 commented on #207
Hey @cool-man-vk please go for it. Will be of great help, thanks

[2022-11-06 09:43] Aniket762 commented on #162
Hey @digizeph, it doesn't happen for me either. I have checked the behavior in Chrome, Safari, and Firefox. Maybe there was some cache issue at your end.

Closing this issue. Incase you find it once again let me know I would reopen the issue. Thanks, for your help though.

[2022-11-06 09:43] #162 closed

[2022-11-06 11:48] Aniket762 commented on #146
Thanks a lot @m-appel for pointing out. I guess this needs to be fixed soon.

I was just curious to know how you want to get this fixed. We can proceed like:
First, get the query check in the countries, cities and networks list from the ihr_api call. If not found, in the list them we can display no such network available.

But, the constraint with this method would be it would take a longer for ev

[2022-11-06 17:06] #195 closed

[2022-11-08 02:50] romain-fontugne commented on #146
I'll take care of this. I think a redirection to the country landing page is good: https://ihr.iijlab.net/ihr/en-us/countries

[2022-11-08 03:23] romain-fontugne commented on #146
fixed in 740ef0fa4d60cc39deb58c2dec5f76a1d7ffa402

[2022-11-08 03:23] #146 closed

[2022-11-08 03:31] romain-fontugne commented on #147
Thanks, that's fixed now (2166539f020d2f4f8ea73b081ab342b103d0b1e0) but eventually we'd need a proper page for IXPs. The current has meaningless things for IXPs (ROV, AS hegemony)

[2022-11-08 03:31] #147 closed

[2022-11-08 03:32] romain-fontugne commented on #162
@Aniket762 are you on macOS?
I cannot reproduce that on linux but it could be a problem with Mac

[2022-11-08 04:41] Aniket762 commented on #162
I am on macOS but was not able to reproduce the problem as well.

[2022-11-08 05:26] romain-fontugne commented on #177
added in #186

[2022-11-08 05:26] #177 closed

[2022-11-21 09:53] rajpatel17-bot opened #210 "Website home page is not responsive"
**Is your feature request related to a problem? Please describe.**
- I'm always frustrated when I opened this website on my mobile. It is not responsive.

**Describe the solution you'd like**
- I want to make the homepage responsive. It is very needful for all users who open this website on their mobile phone.

**Additional context**
Kindly look at these images -
![mobile (5)](https://user-images.

[2022-11-21 13:46] Aniket762 commented on #210
Hey, @rajpatel17-bot go for it. Would be of real help though!